#agreement {
    padding: 20px 20px;
    margin: auto;
    width: 600px;
    
    #printArea {
        line-height: 1.4;
        font-size: 13px !important;
        font-family: 'Times New Roman', Times, serif !important;
    }

    // * {
    // }

    .values {
        padding-left: 6px;
        padding-right: 6px;
        // border-bottom: 2px solid black;
        text-decoration: underline;
    }
}

.paragraph {
    margin-bottom: 6px;
    text-align: justify;
}

.textIndent50 {
    text-indent: 50px;
}