#agreement {
    padding: 20px 20px;
    margin: auto;
    line-height: 1.4;
    font-size: 13px;
    width: 600px;

    .values {
        padding-left: 6px;
        padding-right: 6px;
        // border-bottom: 2px solid black;
        text-decoration: underline;
    }
}

.paragraph {
    margin-bottom: 6px;
}

.textIndent50 {
    text-indent: 50px;
}